@font-face {
  font-family: "proxima-nova-soft";
  font-style: normal;
  src: url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
}

* {
  font-family: "proxima-nova-soft", sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.8em;
}

h4 {
  font-size: 1.1em;
  line-height: 1.5;
}

.prueba {
  background-color: rgb(97, 157, 73)
}

.contenedor {
  width: 100%;
  height: 553px;
}

#principal {
  width: 100%;
  height: 483px;
}
/*[class^="icon-"], [class*=" icon-"] {*/

.icon {
  display: inline-block;

}

/*@media (min-width: 768px) {
  .icon {
    display: block;
    width: 70%;
    height: 70%;
    background-size: 100% 100%;

  }
}*/

.radius-25 {
  border-radius: 25px;
}


/**desdeaqui**/

.m-b-50 {
  margin-bottom: 50px;
}

.circle-work {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-work {
  text-align: center;
  line-height: 1.8em;
}

.size-title {
  font-size: 3.5em;
}

.border-top-gray {
  border-top: 1px solid #DCDCDC;
  overflow: hidden;
  padding: 15px 0;
}

.cont-promise {
  width: 100%;
  height: 64px;
  display: flex;
}

.icon-promise {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-arrow-promise {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 21px;
}

.margin-left-promise {
  margin-left: 15px;
}

.line-break {
  display: none;
}

#our-community {
  padding-top: 56px;
}

.bg-turq {
  background-color: #5ba2dc;
  color: #fff;
}

.line-small{
  line-height: 0.5;
}

.pad-comm {
  padding: 15px 0;
}

.sprite {
  background-image: url(../img/testimonials.jpg);
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0;
  width: 100px;
  height: 100px;
}

.nic {
 background-position: 0 -205px;
}

.renee {
 background-position: 0;
}

.star-community{
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {

  body {
    font-size: 19px;
    line-height: 2em;
  }

  h1 {
    font-size: 2.5em;
  }

  h4 {
    font-size: 1.3em;
  }

  .circle-work {
    width: 300px;
    height: 300px;
  }

  .text-work {
    text-align: left;
  }

  .line-break {
    display: block;
  }

  .text-arrow {
    font-size: 0.8em;
    text-align: center;
    line-height: 1.8em;
    margin: 0;
  }

  .icon-promise {
    width: 91px;
    height: 91px;
  }

  .icon-arrow-promise {
    display: none;
  }

  .border-top-gray {
    border: none;
  }

  .cont-promise {
    width: 100%;
    height: 126px;
    display: flex;
  }

  .align-promise-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


}
